@font-face {
    font-family: "Rock";
    src: url(./Assets/Jfrocksolid-5avL.ttf);
}

@font-face {
    font-family: "Paper";
    src: url(./Assets/StrokeDimension-vXK7.ttf);
}

@font-face {
    font-family: "Scissors";
    src: url(./Assets/BladeKnightItalic-m2Y7x.otf);
}

/* Set variables for commonly used values */
:root { 
--textOutline: 2px 2px #000000;
--textOutlineWhite: 2px 2px #c2c2c2;
--textShadow: 5px 5px 5px #000000;
--border: 5px solid #000000;
--highlightColor: rgb(37, 163, 153);
--backgroundColor: rgb(15, 126, 93);
--black: #000000;
--white: #ffffff;
}

/* Global style settings */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styling for header section */
header {
    background-color: var(--backgroundColor);
    color: var(--white);
    border-bottom: var(--border);
    padding: 10px;
}

.headerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Header text */
header p {
    text-align: center;
    text-shadow: var(--textOutline);
    padding: 30px;
}

#headerRock {
    font-family: "Rock", sans-serif;
    src: url(./Assets/Jfrockoutcrop-z9Ma.ttf);    
    font-size: 48px;
    color: rgb(85, 84, 84);
}

#headerPaper {
    font-family: "Paper", sans-serif;
    src: url(./Assets/PaperTowel-djVx.ttf);
    font-size: 64px;
}

#headerScissors {
    font-family: "Scissors", sans-serif;
    src: url(./Assets/BladeKnightItalic-m2Y7x.otf);
    font-size: 45px;
    text-shadow: var(--textOutlineWhite);
    color: rgb(133, 133, 133);
}

/* Main content section */
main {
    padding: 30px 0px;
    background-image: url(./Assets/BoxingRing.jpg);
    background-size: cover;
}

/* div containing scoreboard and user choices */
.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center; 
}

/* div containing game rules */
.rules {
    text-align: center;
    color: var(--white);
    background-color: var(--backgroundColor);
    border: var(--border);
    border-radius: 10px;
    width: 50%;
    display: block;
    margin: auto auto;
}

/* Game Rules main header text */
.rules h2 {
    text-shadow: var(--textOutline);
    text-decoration: underline;
    padding: 5px;
}

/* Game Rules body text */
.rules p {
    text-shadow: var(--textOutline);
    font-size: 18px;
    padding: 5px;
}

/* div holding Start button */
.startButton {
    display: block;
    margin: 20px auto;
    text-align: center;
}

/* Button to start game */
#pushToStart {
    padding: 15px;
    background-color: var(--backgroundColor);
    color: var(--white);
    text-shadow: var(--textOutline);
    font-size: 34px;
    border: var(--border);
    border-radius: 10px;
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
}

#pushToStart:hover {
    background-color: var(--highlightColor);
}

/* Scoreboard and user selections */
.scoreboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    border: var(--border);
    background-color: var(--backgroundColor);
    border-radius: 10px;
    justify-content: space-evenly;
    margin: 10px;
    width: 50%;
}

/* Scoreboard main header */
.scoreboard h2 {
    justify-content: center;
    width: 100%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--white);
    text-shadow: var(--textShadow);
    font-size: 36px;
    padding: 10px;
}

/* Style for divs containing user score and user selections */
.scores {
    justify-content: left;
    align-items: center;
    padding: 10px;    
}

/* Scoreboard body text */
.scoreboard p {
    font-size: 24px;
    text-shadow: var(--textOutline);
    color: var(--white);
    padding: 10px;
    margin: 10px;
}

/* User selections */
.choices {
    justify-content: right;
    padding: 5px;
}

/* Container holding rock, paper and scissor images */
.rpsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

/* Rock, paper and scissor images */
.rps {
    border: var(--border);
    border-radius: 10px;
    line-height: 0;
    cursor: pointer;
}

/* Message that appears after game is completed displaying outcome to user */
#resultsMessage {
    font-size: 24px;
    color: var(--white);
    border: var(--border);
    border-radius: 10px;
    text-shadow: var(--textOutline);
    text-align: center;
    margin: 20px auto;
    background-color: var(--backgroundColor);
    padding: 20px;
    width: 50%;
}


/* Footer section */
footer {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 25px;
    background-color: var(--backgroundColor);
    color: var(--white);
    border-top: var(--border);
    text-shadow: var(--textOutline)
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: lightblue;
}

/* Media Queries for smaller screens */
@media screen and (max-width: 768px) {
    .rpsContainer {
        flex-direction: column;
    }

    .rps {
        padding: 10px;
    }
}

