:root {
--textOutline: 2px 2px #000000;
--textShadow: 5px 5px 5px #000000;
--border: 5px solid #000000;
--highlightColor: rgb(37, 163, 153);
--backgroundColor: rgb(15, 126, 93);
--black: #000000;
--white: #ffffff;
}


* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--backgroundColor);
    color: var(--white);
    border-bottom: var(--border);
    padding: 10px;
}

header h1 {
    text-align: center;
    text-shadow: var(--textOutline);
    
}

main {
    padding: 30px 0px;
}

.background {
    background-image: url(./Assets/BoxingRing.jpg);
    background-size: cover;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center; 
}

.rules {
    text-align: center;
    color: var(--white);
    background-color: var(--backgroundColor);
    border: var(--border);
    border-radius: 10px;
    width: 50%;
    display: block;
    margin: auto auto;
}

.rules h1 {
    text-shadow: var(--textOutline);
    text-decoration: underline;
}

.rules h2 {
    text-shadow: var(--textOutline);
    font-size: 18px;
    padding: 5px;
}

.startButton {
    display: block;
    margin: 20px auto;
    text-align: center;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    border: var(--border);
    background-color: var(--backgroundColor);
    border-radius: 10px;
    justify-content: space-evenly;
    margin: 10px;
    width: 50%;
}

.scoreboard h2 {
    justify-content: center;
    width: 100%;
}

.scores {
    justify-content: left;
    align-items: center;
    padding: 10px;    
}

.scoreboard p {
    font-size: 24px;
    text-shadow: var(--textOutline);
    color: var(--white);
    padding: 10px;
    margin: 10px;
}

.choices {
    justify-content: right;
    padding: 10px;
}


.scoreboard h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--white);
    text-shadow: var(--textShadow);
    font-size: 36px;
    padding: 10px;
}

/* Container holding rock, paper and scissor images */
.rpsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

/* Rock, paper and scissor images */
.rps {
    border: var(--border);
    border-radius: 10px;
    line-height: 0;
    cursor: pointer;
}

/* Message that appears after game is completed */
#resultsMessage {
    font-size: 24px;
    color: var(--white);
    border: var(--border);
    border-radius: 10px;
    text-shadow: var(--textOutline);
    text-align: center;
    margin: 20px auto;
    background-color: var(--backgroundColor);
    padding: 20px;
    width: 50%;
}

/* Button to start game */
#pushToStart {
    padding: 15px;
    background-color: var(--backgroundColor);
    color: var(--white);
    text-shadow: var(--textOutline);
    font-size: 34px;
    border: var(--border);
    border-radius: 10px;
    max-width: 100%;
    margin: 20px auto;
    text-align: center;

}

#pushToStart:hover {
    background-color: var(--highlightColor);
}

footer {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    padding: 25px;
    background-color: var(--backgroundColor);
    color: var(--white);
    border-top: var(--border);
    text-shadow: var(--textOutline)
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: lightblue;
}

/* Media Queries for smaller screens */
@media screen and (max-width: 768px) {
    .rpsContainer {
        flex-direction: column;
    }
}

